{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h3>
    <p>
      {{ post.authors }}
    </p>
    <p>
      In <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} 
    </p>
    <span class="links">
      {% if post.abstract %}
        <a href="www.google.de">Something happens</a>
      {% endif %}
      {% if post.url %}
        <a href="{{ post.url }}">Paper</a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}">Code</a>
      {% endif %}
      {% if post.data %}
        <a href="{{ post.data }}">Data</a>
      {% endif %}
    </span>
  </article>
</div>
